from pidevices import {{ device_class }}
from commlib.transports.amqp import (                           
    Publisher, Subscriber, ConnectionParameters, AMQPConnection)
import time                                                     


class Node():
    """Runing node."""

    def __init__(self):
        topic = "{{ topic }}"
	conn_params = ConnectionParameters()
        conn_params.credentials.username = "{{ username }}"
        conn_params.credentials.password = "{{ password }}"
        conn_params.host = "{{ host }}"
        conn_params.port = {{ port }}                      

	self.dev = {{ device_class }}({% for key, value in args.items() -%}
				      {{ key }}={{ value }},
				      {%- endfor -%}
				      )
        {% if is_sensor %}
	self.publisher = Publisher(conn_params=conn_params,
                                   topic=topic)
	{% else %}
        self.subscriber = Subscriber(conn_params=conn_params,
                                     topic=topic,
                                     on_message=self.callback)
	self.subscriber.run()
	{% endif %}
	

    {% if is_sensor %}
    def run(self, freq=1):
        while True:
            {% if is_sensor -%}
            #data = dev.read()
            data = 5
	    {{ data }}
            self.publisher.publish(data)
            {% endif -%}
            time.sleep(1/freq)
    {% endif %}
    
    {% if not is_sensor %}
    def callback(self, msg, meta):
        try:
            #self.dev.write(**msg)
	except TypeError:
	    print("Unexpected argument. The proper msg is {{ data }}")
        print(msg)
    {% endif %}


def main():
    node = Node()
    node.run()


if __name__ == "__main__":
    main()
